<head>
    <!-- UTF-8 編碼 -->
    <meta charset="UTF-8" />
    <!-- IE 使用最新瀏覽器 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- RWD 聲明 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 約 470px 左右的長度 -->
    <title>D'PERFUME</title>
    <!-- 網頁描述：長度約標題的 2.5 倍 -->
    <meta name="description" content="Perfume your day">

    <!-- FAVICON：可使用 ico 或是 png 檔 -->
    <link rel="icon" type="image/png" href="../../images/favicon.png">
    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" href="../../images/favicon.png">

    <!-- Facebook：使用 Open Graph Protocol -->
    <meta property="og:title" content="D'PERFUME｜Perfume your day" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="你想要的香水都在D'PERFUME" />
    <meta property="og:site_name" content="D'PERFUME｜Perfume your day" />
    <meta property="og:locale" content="zh_TW" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <!-- TWITTER：使用 Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="D'PERFUME｜Perfume your day" />
    <meta name="twitter:description" content="你想要的香水都在D'PERFUME" />
    <meta name="twitter:site" content="帳號">
    <meta name="twitter:creator" content="作者">
    <meta name="twitter:url" content="">
    <meta name="twitter:image" content="">
  </head>