<nav class="navbar navbar-expand-lg navbar-light py-0">
    <div class="container py-2">
      <a class="navbar-brand py-0" href="#"><img src="../assets/images/d’Perfume.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav gap-8">
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link active fs-5 text-dark p-0" aria-current="page" href="product.html"><span class="material-icons fs-6 me-1">store</span>Home</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link active fs-5 text-dark p-0" aria-current="page" href="product.html"><span class="material-icons fs-6 me-1">person</span>login</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link active fs-5 text-dark p-0" aria-current="page" href="product.html"><span class="material-icons fs-6 me-1">favorite</span>Wishlist</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link active fs-5 text-dark p-0" aria-current="page" href="product.html"><span class="material-icons fs-6 me-1">shopping_cart</span>Cart(3)</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>